.loader {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  margin: 10vh auto;
  border: 10px solid #000000;
  border-top: 10px solid transparent;
}

.product-img {
  width: 200px;
  height: 200px;
  > img {
    height: 100%;
    margin: auto;
  }
}
